target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105.xml
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105.xml
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105.xml
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105/storage_v2/_src_/schema/librahub.AU0cMw.meta
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105/storage_v2/_src_/schema/librahub.AU0cMw.meta
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105/storage_v2/_src_/schema/officehub.uQzveQ.meta
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105/storage_v2/_src_/schema/librahub.AU0cMw.meta
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105/storage_v2/_src_/schema/sys.zb4BAA.meta
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105/storage_v2/_src_/schema/librahub.AU0cMw.meta
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105.xml
*.xml
.idea/dataSources/4b12e922-69f3-4ae5-a150-23c8cef2f105.xml
*.meta
